{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Top navbar example · Bootstrap v5.3</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbar-static/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">





<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" >

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
<link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#712cf9">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="navbar-static.css" rel="stylesheet">
  </head>
  <body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Turnero</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
       <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Registrar Usuario</a>
        </li> -->
        <li class="nav-item">
          <div class="dropdown">
            <a class="nav-link active dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              Configuracion
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              {% for m in menues %}
                <form method="post" action="">
                  {% csrf_token %}
                  <input type="text" value="{{m.model}}" name="model" hidden />
                  <li><button class="dropdown-item" type="submit">{{m.model}}</button></li>
                </form>
              {% endfor %}
            </ul>
          </div>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>-->
      </ul>
      <form class="d-flex" role="search" method="post", action="">
        {% csrf_token %}
        <input value="true" name="logout" hidden />
        <button class="btn btn-outline-success" type="submit">Salir</button>
      </form>
    </div>
  </div>
</nav>

<main class="container">
  <div class="row">
    <div class="mx-auto">
      <h1>{{titulo}}</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-10">
      {% block table %}
      {% endblock table %}
    </div>
    <div class="col-2">
      {% block form %}
      {% endblock form %}
      <br/><br/>

      {% if message is not None and message != '' %}
        <div class="justify-content-sm-center">
          <div class="alert alert-success">
              <a class="close" href="#" data-dismiss="alert"></a>
                  {{ message }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</main>


    <script src="{% static '/js/bootstrap.bundle.min.js' %}" ></script>


  </body>
</html>
