{% extends 'base.html' %}

{% block form %}

  <form method="post" action="">
    {% csrf_token %}
    {{ da_form.as_p }}
    <input type="text" value="{{ titulo }}" name="model" hidden/>
    <input type="text" value="{{ id }}" name="id" hidden/>
    <input type="text" value="true" name="isForSave" hidden/>
    <input type="submit" class="btn btn-primary" value="Guardar">
  </form>

{% endblock form %}
{% block table %}
  <table class="table table-hover">
    <thead>
      <tr>
        {% for fields in tabla_titulos %}
        <td>{{ fields.name }}</td>
        {% endfor %}
        <td colspan="2" class="text-center">Acciones</td>
      </tr>
    </thead>
    <tbody>
      {% for t in tabla_datos %}
        <tr>
          <td>{{t.cli_id}}</td>
          <td>{{t.per_nombre}}</td>
          <td>{{t.tc_desc}}</td>
          <td>{{t.es_desc}}</td>
          <td>{{t.cli_razon_social}}</td>
          <td>{{t.cli_ruc}}</td>
          <td class="text-center">
            <form method="post" action="">
              {% csrf_token %}
              <input type="text" value="{{t.cli_id}}" name="id" hidden/>
              <input type="text" value="{{ titulo }}" name="model" hidden/>
              <input type="text" value="true" name="edit" hidden/>
              <button type="submit" class="btn" value="Editar"><i class="bi bi-pencil-square"></i></button>
            </form>
          </td>
          <td class="text-center">
            <form method="post" action="">
              {% csrf_token %}
              <input type="text" value="{{t.cli_id}}" name="id" hidden/>
              <input type="text" value="{{ titulo }}" name="model" hidden/>
              <input type="text" value="true" name="delete" hidden/>
              <button type="submit" class="btn" value="Eliminar"><i class="bi bi-trash3"></i></button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock table %}