{% extends 'base.html' %}

{% block form %}

  <form method="post" action="">
    {% csrf_token %}
    {{ da_form.as_p }}
    <input type="text" value="{{ titulo }}" name="model" hidden/>
    <input type="text" value="true" name="isForSave" hidden/>
    <input type="submit" class="btn btn-primary" value="Guardar">
  </form>

{% endblock form %}
{% block table %}
  <table class="table table-hover">
    <thead>
      <tr>
        {% for fields in tabla_titulos %}
        <td>{{ fields.name }}</td>
        {% endfor %}
        <td class="text-center">Acciones</td>
      </tr>
    </thead>
    <tbody>
      {% for t in tabla_datos %}
        <tr>
          <td>{{t.id}}</td>
          <td>{{t.cola_desc}}</td>
          <td>{{t.cli_desc}}</td>
          <td>{{t.pri_desc}}</td>
          <td class="text-center">
            <form method="post" action="">
              {% csrf_token %}
              <input type="text" value="{{t.id}}" name="id" hidden/>
              <input type="text" value="{{ titulo }}" name="model" hidden/>
              <input type="text" value="true" name="cola_out" hidden/>
              <button type="submit" class="btn" value="Finalizar Turno"><i class="bi bi-person-x-fill"></i></button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock table %}