{% extends 'base.html' %}

{% block form %}
  <h1>{{titulo}}</h1>

  <form method="post" action="">
    {% csrf_token %}
    {{ da_form.as_p }}
    <input type="submit" value="Guardar">
  </form>

{% endblock form %}
{% block table %}
  <table class="table table-hover">
    <thead>
      <tr>
        {% for t in tabla %}
        <td></td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Larry the Bird</td>
      </tr>
    </tbody>
</table>
{% endblock table %}