{% extends 'login_base.html' %}

{% block login_block %}
<form method="post" action="">
    <div class="d-flex align-items-center mb-3 pb-1">
        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
        <span class="h1 fw-bold mb-0">TURNERO - LUCAS y YUDITH</span>
    </div>

    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Inicia Sesion</h5>
    {% csrf_token %}
    {{ login_form.as_p}}
    <div class="pt-1 mb-4">
        <input class="btn btn-dark btn-lg btn-block" type="submit" value="Iniciar Sesion" />
    </div>
  </form>
{% endblock login_block %}